<div class="page-header">
    <h1>Családi todo listakezelő alkalmazás információ</h1>
</div>

<p>
    Alkalmazások fejlesztése tantárgy beadandó feladat. Az alkalmazással a családi tennivalókat kezelhetjük.
</p>
